# Learn about EDA

In [1]:
import pandas as pd

In [2]:
census_df = pd.read_csv('census_data.csv', index_col=0)

## Assessing Variable Types

In [3]:
census_df.head()

,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,marital_status
0,Denise,Ratke,2005,False,0,92129.41,disagree,single
1,Hali,Cummerata,1987,False,0,75649.17,neutral,divorced
2,Salomon,Orn,1992,True,2,166313.45,agree,single
3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,married
4,Gust,Abernathy,1945,False,2,143316.08,agree,married

In [4]:
census_df.dtypes

first_name         object
last_name          object
birth_year         object
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

## Inspecting Data Types

In [5]:
census_df['birth_year'].unique()

array(['2005', '1987', '1992', '1965', '1945', '1951', '1963', '1949',
       '1950', '1971', '2007', '1944', '1995', '1973', '1946', '1954',
       '1994', '1989', '1947', '1993', '1976', '1984', 'missing', '1966',
       '1941', '2000', '1953', '1956', '1960', '2001', '1980', '1955',
       '1985', '1996', '1968', '1979', '2006', '1962', '1981', '1959',
       '1977', '1978', '1983', '1957', '1961', '1982', '2002', '1998',
       '1999', '1952', '1940', '1986', '1958'], dtype=object)

In [6]:
census_df['birth_year'] = census_df['birth_year'].replace('missing', '1967')
census_df['birth_year'].unique()

array(['2005', '1987', '1992', '1965', '1945', '1951', '1963', '1949',
       '1950', '1971', '2007', '1944', '1995', '1973', '1946', '1954',
       '1994', '1989', '1947', '1993', '1976', '1984', '1967', '1966',
       '1941', '2000', '1953', '1956', '1960', '2001', '1980', '1955',
       '1985', '1996', '1968', '1979', '2006', '1962', '1981', '1959',
       '1977', '1978', '1983', '1957', '1961', '1982', '2002', '1998',
       '1999', '1952', '1940', '1986', '1958'], dtype=object)

In [7]:
census_df['birth_year'] = census_df['birth_year'].astype('int64')
census_df.dtypes

first_name         object
last_name          object
birth_year          int64
voted                bool
num_children        int64
income_year       float64
higher_tax         object
marital_status     object
dtype: object

In [8]:
census_df.birth_year.mean()

1973.4

In [9]:
census_df.higher_tax.unique()

array(['disagree', 'neutral', 'agree', 'strongly agree',
       'strongly disagree'], dtype=object)

In [10]:
census_df['higher_tax'] = pd.Categorical(census_df['higher_tax'], ['strongly disagree', 'disagree', 'neutral', 'agree', 'strongly agree'], ordered=True)
census_df.higher_tax.unique()

['disagree', 'neutral', 'agree', 'strongly agree', 'strongly disagree']
Categories (5, object): ['strongly disagree' < 'disagree' < 'neutral' < 'agree' < 'strongly agree']

In [11]:
census_df['higher_tax_encoded'] = census_df['higher_tax'].cat.codes
census_df.head()

,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,marital_status,higher_tax_encoded
0,Denise,Ratke,2005,False,0,92129.41,disagree,single,1
1,Hali,Cummerata,1987,False,0,75649.17,neutral,divorced,2
2,Salomon,Orn,1992,True,2,166313.45,agree,single,3
3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,married,4
4,Gust,Abernathy,1945,False,2,143316.08,agree,married,3

In [12]:
census_df.higher_tax_encoded.median()

2.0

In [13]:
census_df = pd.get_dummies(data=census_df, columns=['marital_status'])
census_df.head()

,first_name,last_name,birth_year,voted,num_children,income_year,higher_tax,higher_tax_encoded,marital_status_divorced,marital_status_married,marital_status_single,marital_status_widowed
0,Denise,Ratke,2005,False,0,92129.41,disagree,1,0,0,1,0
1,Hali,Cummerata,1987,False,0,75649.17,neutral,2,1,0,0,0
2,Salomon,Orn,1992,True,2,166313.45,agree,3,0,0,1,0
3,Sarina,Schiller,1965,False,2,71704.81,strongly agree,4,0,1,0,0
4,Gust,Abernathy,1945,False,2,143316.08,agree,3,0,1,0,0